# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.zip

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

C64 Pi1541-III Module/export/
C64 Pi1541-III Module Panel/export/
faceplates/C64 Pi1541-III Module FB1/export/
faceplates/C64 Pi1541-III Module FB2/export/
faceplates/C64 Pi1541-III Module FP1/export/

resources/